API_TOKEN = "{{ API_TOKEN }}"
WEBHOOK_HOST = "{{ FQDN }}"
WEBHOOK_LISTEN = "127.0.0.1"
WEBHOOK_LISTEN_PORT = 6000

WEBHOOK_URL_BASE = "https://%s" % WEBHOOK_HOST
WEBHOOK_URL_PATH = "/shestyorka/%s/" % API_TOKEN