user_list = [
    # {'access_level': 0, 'telegram_id': 0, 'full_name': ''} - template
    {'access_level': 0, 'telegram_id': 142047897, 'full_name': 'Биктимиров К. К.'},
    {'access_level': 1, 'telegram_id': 1229603062, 'full_name': 'Мозгов А. М.'}
]